<div class="content">
  <div id="content_center">
    <div class="tab-wrap">
      <input type="radio" id="tab1" name="tabGroup1" class="tab" checked="">
      <label for="tab1">About Us</label>

      <input type="radio" id="tab2" name="tabGroup1" class="tab">
      <label for="tab2">Terms and Conditions</label>

      <input type="radio" id="tab3" name="tabGroup1" class="tab">
      <label for="tab3">Privacy Policy</label>

      <div class="tab__content">
        <div class="sponsorsection1">
         <p class="text">Letstravel is a travel booking website where you can browse trips planned by our team and join the trips for an amazing experience!</p> 
         <p class="text">That's not it, you can also take up a survey and get recommendations of places to visit.</p><br><br>
         <p class="text">At Letstravel, we believe that travel has healing properties. It acts as a much-needed break from day-to-day stress. It clears your mind, rejuvenates, and relaxes. Above all, it motivates you to see more of the world, to do more.</p>
         <p class="text">
         Extensive explorers ourselves, travel has not only acted as an introduction to new people, foods, and languages we would not normally encounter, but it has taught us about history, culture, and ways of life about which we may not learn organically. Travel encourages everyone to have an open mind and to step out of their comfort zone.</p>
       <p class="text">We’ve traveled to the far corners of the world, often wandering off the beaten path - realizing in the end that India has just as many destinations, oddities, and microcultures as anywhere else on Earth. Letstravel is a celebration of our country’s expansive resources, and embodiment of open mindedness, spontaneity, and excitement.</p>


        </div>
      </div>

      <div class="tab__content">
        <div class="sponsorsection1">
        </div>
      </div>

      <div class="tab__content">
        <div class="sponsorsection1">
        </div>
      </div>


    </div>
  </div>
</div>

<router-outlet></router-outlet> 