<div class="content">
  <div id="content_center">
    <div class="tab-wrap">
      <input type="radio" id="tab1" name="tabGroup1" class="tab" checked="">
      <label for="tab1">About Us</label>

      <input type="radio" id="tab2" name="tabGroup1" class="tab">
      <label for="tab2">Terms and Conditions</label>

      <input type="radio" id="tab3" name="tabGroup1" class="tab">
      <label for="tab3">Privacy Policy</label>

      <div class="tab__content">
        <div class="sponsorsection1">
         <p class="text">Letstravel is a travel booking website where you can browse trips planned by our team and join the trips for an amazing experience!</p> 
         <p class="text">That's not it, you can also take up a survey and get recommendations of places to visit.</p><br><br>
         <p class="text">At Letstravel, we believe that travel has healing properties. It acts as a much-needed break from day-to-day stress. It clears your mind, rejuvenates, and relaxes. Above all, it motivates you to see more of the world, to do more.</p>
         <p class="text">
         Extensive explorers ourselves, travel has not only acted as an introduction to new people, foods, and languages we would not normally encounter, but it has taught us about history, culture, and ways of life about which we may not learn organically. Travel encourages everyone to have an open mind and to step out of their comfort zone.</p>
       <p class="text">We’ve traveled to the far corners of the world, often wandering off the beaten path - realizing in the end that India has just as many destinations, oddities, and microcultures as anywhere else on Earth. Letstravel is a celebration of our country’s expansive resources, and embodiment of open mindedness, spontaneity, and excitement.</p>


        </div>
      </div>

      <div class="tab__content">
        <div class="sponsorsection1">
          <p class="text">TERMS AND CONDITIONS:</p>
          <p class="text"><b>PLEASE READ THESE TERMS OF USE CAREFULLY</b>, as they explain the terms and conditions governing your interaction with websites, applications, and other services, controlled by Letstravel IF YOU DO NOT AGREE TO THESE TERMS, PLEASE DO NOT USE OR ACCESS OUR SERVICES.<br>
          THESE TERMS INCLUDE AN ARBITRATION CLAUSE AND WAIVER OF YOUR RIGHT TO PARTICIPATE IN A CLASS ACTION OR REPRESENTATIVE LAWSUIT.<br></p>
             <p> <b>1. Applicability:</b></p>
                <p>a. These general terms and conditions of use (these “Terms”) apply to the purchase and sale of products and services (the “Trip”) through our website, and are in addition to any other terms and conditions provided for by Letstravel on the Site, in any writing provided to you relating to the purchase of a Trip, or in any documentation provided to you by any Providers (as defined herein). These terms are subject to change by letstravel without prior written notice at any time, in our sole discretion.</p>
                <p>b. These terms are an integral part of the Website Terms of Use that apply generally to the use of our Site. You should also carefully review of our Privacy Policy before placing an order for products or services through this Site.</p>
                <p>c. Our services are not intended or designed for use by people under the age 18 without a parent or legal guardian.  You may not use our services if you are under the age of 18 without a parent or legal guardian.</p>
            <p><b>2. Order Acceptance and Cancellation:</b></p>
                <p>a. The purchase of a Trip by letstravel constitutes a contractual agreement between You and letstravel and represents your acceptance of the letstravel Terms set out herein.</p>
                <p>b. You agree that your order is an offer to buy, under these Terms, the Trip listed in your order. All orders must be accepted by us or we will not be obligated to sell the Trip to you. We may choose not to accept orders at our sole discretion, even after we send you a confirmation email with your order number and details you have ordered.</p>
            <p><b>3. Prices and Payment Terms:</b></p>
                <p>a. All prices, discounts, and promotions posted on this Site are subject to change without notice. The price charged for a Trip will be the price in effect at the time the order is placed and will be set out in your order confirmation email.</p>
                <p>b. Posted prices do not include food, dining, or any activities.</p>
                <p>c. From time to time, we may offer promotions on the Site that may affect pricing and that are governed by terms and conditions separate from these Terms. If there is a conflict between the terms for a promotion and these Terms, the promotion terms will govern.</p>
                <p>d. Terms of payment are within our sole discretion and, unless otherwise agreed by us in writing, all payments must made directly through the Website and received by us before our acceptance of an order. We accept all Credit Cards through Stripe, and PayPal for all purchases.</p>  
          <p><b>LETSTRAVEL IS NOT LIABLE IF YOU ARE DISSATISFIED WITH YOUR TRIP AND WILL NOT OFFER REFUNDS UNDER THESE CIRCUMSTANCES.
          ANY CANCELLATIONS MADE DURING THE WEEK OF TRAVEL WILL NOT BE REFUNDED. WE DO NOT GUARANTEE THAT CANCELLED TRIPS WILL BE FULLY-REFUNDED.</b><br>
          To cancel your trip, you must immediately mail us at help@letstravel.com. Cancellation fee applicable.</p>

        </div>
      </div>

      <div class="tab__content">
        <div class="sponsorsection1">
           <p class="text"><b>PLEASE READ THIS PRIVACY POLICY CAREFULLY</b></p>
          <p>Letstravel (“Company” or “We”) respect your privacy and are committed to protecting it through our compliance with this policy.<br>
          This Privacy Policy (the “Policy”) describes the types of information we may collect from you or that you may provide when you visit our website and our practices for collecting, using, maintaining, protecting, and disclosing that information.<br>
          This policy applies to information we collect:</p>

<p>1. On this Website.</p>
<p>2. Through email, text, photographs, our survey, and other electronic messages between you and this Website.</p>

<p><b>Children Under the Age of 13</b><br></p>
<p>Our Website is not intended for children under 13 years of age. No one under age 13 may provide any personal information to or on the Website. We do not knowingly collect personal information from children under 13. If you are under 13, do not use or provide any information on this Website. If we learn we have collected or received personal information from a child under 13 without verification of parental consent, we will delete that information. If you believe we might have any information from or about a child under 13, please contact us at help@letstravel.com.</p>
<br>
<p><b>Information We Collect About You and How We Collect It</b><br></p>
<p>We collect several types of information from and about users of our Website, including information:</p>
<p>1. By which you may be personally identified, such as name, postal address, e-mail address, telephone number, or ANY OTHER INFORMATION THE WEBSITE COLLECTS THAT IS DEFINED AS PERSONAL OR PERSONALLY IDENTIFIABLE INFORMATION UNDER AN APPLICABLE LAW/any other identifier by which you may be contacted online or offline (hereinafter collectively, the “Personal Information”);</p>
<p>2. About your internet connection, the equipment you use to access our Website and usage details.</p><br>
<p>We collect this information:</p>

<p>1. Directly from you when you provide it to us.</p>
<p>2. Automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, and information collected through cookies, web beacons, and other tracking technologies.</p>

<p>The information we collect on or through our Website may include:</p>
<p>a. Information that you provide by filling in forms on our Website. This includes information provided at the time of requesting services.</p> 
<p>b. Records and copies of your correspondence (including email addresses), if you contact us.</p>
<p>c. Your responses to surveys that we might ask you to complete for research purposes.</p>
<p>d. Details of transactions you carry out through our Website and of the fulfillment of your orders.You may be required to provide financial information before placing an order through our Website.</p>
<p>e. Your search queries on the Website.</p>
<p>f. You also may provide information to be published or displayed (hereinafter, “Posted”) on public areas of the Website or transmitted to other users of the Website or third parties (collectively, “User Contributions”).</p>
<p>g. Your User Contributions are posted on and transmitted to others at your own risk. Although we limit access to certain pages, please be aware that no security measures are perfect or impenetrable.
</p>
        </div>
      </div>


    </div>
  </div>
</div>

<router-outlet></router-outlet> 